---
layout: default
pageClass: home
description: Portfolio website for Ottawa based graphic designer Adam Robillard.
---
<header class="intro-home">
  <div>
    <h1 class="push-0 zetta animate-in">
      <span class="block">Adam</span>
      <span class="block">Robillard</span>
    </h1>
    <p class="giga text-right animate-in animate-in-delay">Graphic Designer</p>
  </div>
  {% assign prevScroll=site.data.case-studies[0] %}
  <a class="scroll-hint gutter smooth-scroll" href="#{{prevScroll.csLink}}" aria-label="Press to scroll down to first case study preview.">
    <span class="scroll-hint-line"></span>
    <span class="scroll-hint-scroller"></span>
  </a>
</header>
<div class="section-colors">
  {% for caseStudy in site.data.case-studies %}
    {% include case-study-preview.html %}
  {% endfor %}
  <section id="me" class="me" tabindex="0">
    <div class="wrapper gutter grid">
      <div class="unit [ xs-1 m-1-2 ] unit-push-m-1-2 pad-t-2 pad-b">
        <h2>Me</h2>
        <p class="no-font-adjust">I am the kind of person who listens to a Dungeons & Dragons podcast while lacing up their skates in a hockey dressing room. I am equal parts passionate sports fan and massive nerd. I love learning new things, testing out theories, and discovering what is possible.</p>
        <p class="no-font-adjust">That’s why I love design. I get to be a huge nerd and spend hours on end coding this website from scratch. I get to design the jerseys that fans cheer their favourite team on with. I get to meet new people and learn about their passions and make something awesome with them.</p>
        <p class="no-font-adjust">I am excited to hear what your passion is and how we can work together to create something amazing.</p>
        <footer>
          <a class="bold font-alt mega inline-block" href="mailto:hello@adamrobillard.ca" aria-label="Email Adam at hello@adamrobillard.ca">hello@adamrobillard.ca</a>
        </footer>
      </div>
      <div class="unit [ xs-1 m-1-2 ] pad-t static">
        <img class="me-img case-study-preview-img-in" src="{{site.baseurl}}/images/adamheadshot-bw.png" alt="Adam Robillard's headshot.">
      </div>
    </div>
  </section>
</div>
