<header>
  <a class="tog-nav-holder nav-at-top" href="#footer-nav">
    <div class="tog-nav">
      <span class="tog tog-top"></span>
      <span class="tog tog-middle"></span>
      <span class="tog tog-bottom"></span>
    </div>
  </a>
  <div class="slide-nav flex-v-middle">
    <div class="nav-bg-photos">
      <img id="home-link-img" class="box-shadow" src="{{site.baseurl}}/images/home-hover.jpg" alt="">
      <img id="cs1-link-img" src="{{site.baseurl}}/images/laptop-example.png" alt="">
      <img id="cs2-link-img" src="{{site.baseurl}}/images/quidcan/quidcan-preview.png" alt="">
      <img id="cs3-link-img" src="{{site.baseurl}}/images/amces/booth.png" alt="">
      <img id="me-link-img" src="{{site.baseurl}}/images/adamheadshot-bw.png" alt="">
    </div>
    <div class="wrapper gutter">
      {% include nav.html navid="nav" navclass='nav-main bold text-shadow font-alt' ulclass='list-group push-0 peta' liclass='pad-t-1-2 pad-b-1-2' aclass='text-ccc'%}
    </div>
  </div>
</header>
