<header role="banner">
  <a class="tog-nav-holder" href="#nav-footer" aria-label="Press to open navigation.">
    <div class="tog-nav">
      <span class="tog tog-top"></span>
      <span class="tog tog-middle"></span>
      <span class="tog tog-bottom"></span>
    </div>
  </a>
  <div class="slide-nav flex-v-middle">
    <div class="nav-bg-photos">
      <img id="home-link-img" class="box-shadow" src="{{site.baseurl}}/images/home-hover.jpg" alt="Preview image of the home page banner.">
      {% for navImages in site.data.case-studies %}
        <img id="{{navImages.csLink}}-link-img" src="{{site.baseurl}}/images/{{navImages.navImg}}" alt="{{navImages.navImgAlt}}">
      {% endfor %}
      <img id="me-link-img" src="{{site.baseurl}}/images/adamheadshot-nav.jpg" alt="Adam Robillard's headshot.">
    </div>
    <div class="wrapper gutter">
      {% include nav.html navid="nav" navclass='nav-main bold text-shadow font-alt' ulclass='list-group push-0 tera' liclass='pad-t-1-4 pad-b-1-4' aclass='text-ccc'%}
    </div>
  </div>
  {% unless page.url == '/' %}
    <div class="wordmark island text-right">
      <a class="inline-block m-hidden exa font-alt text-shadow push-0 pad-t-1-4" href="{{site.baseurl}}/" aria-label="Return to home page.">A<span class="bold">R</span></a>
      <a class="inline-block xs-s-hidden tera font-alt text-shadow push-0 pad-t-1-4" href="{{site.baseurl}}/" aria-label="Return to home page.">Adam <span class="bold">Robillard</span></a>
    </div>
  {% endunless %}
</header>
