<nav id="{{include.navid}}" class="{{include.navclass}}" role="navigation">
  <ul class="{{include.ulclass}}">
    <li class="{{include.liclass}}"><a class="link-home {{include.aclass}} {% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/" aria-label="Link to home page.">Home</a></li>
    {% for navLinks in site.data.case-studies %}
      <li class="{{include.liclass}}"><a class="link-{{navLinks.csLink}} {{include.aclass}} {% if page.url contains navLinks.csLink %}current{% endif %}" href="{{site.baseurl}}/{{navLinks.csLink}}/" aria-label="Link to {{navLinks.title}} caseStudy.">{{navLinks.title}}</a></li>
    {% endfor %}
    <!-- <li class="{{include.liclass}}"><a class="link-more-fun {{include.aclass}}" href="{{site.baseurl}}/more-fun/" aria-label="Link to more samples of my work.">More Fun</a></li> -->
    <li class="{{include.liclass}}"><a class="link-me {{include.aclass}}" href="{{site.baseurl}}/#me" aria-label="Link to about me section.">Me</a></li>
  </ul>
</nav>
