.wordmark {
  position: fixed;
  top: 0;
  right: 0;
  transition:
    opacity .5s,
    top .5s;
  z-index: 10;
}

.wordmark-scrolled {
  opacity: 0;
  top: -3rem;
}

.prev-next-indicator i {
  margin-top: .15rem;
}

.amces-og-logo {
  width: 100%;
  max-width: 20rem;
}

.color-preview {
  border-radius: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  height: 6rem;
  color: #fff;
}

.case-study section:nth-child(even) {
  background-color: var(--color-light-grey);
}

.cp-pol-primary {
  background-color: #09A38C;
}

.cp-pol-secondary {
  background-color: #333;
}

.cp-am-primary {
  background-color: #00558c;
}

.cp-am-secondary {
  background-color: #75787b;
}

.cp-tt-primary {
  background-color: #00953b;
}

.cp-tt-secondary {
  background-color: #666;
}

.cp-hub {
  background-color: #8f102d;
}

.cp-rebound {
  background-color: #8fcc3a;
}

.cp-hub-secondary {
  background-color: #333;
}

.cp-spruce-1 {
  background-color: #1C9AA5;
}

.cp-spruce-2 {
  background-color: #D1C511;
}

.cp-spruce-3 {
  background-color: #C8718D;
}

.cp-spruce-4 {
  background-color: #003956;
}

.case-study h1 {
  padding-top: 2.6rem;
}

.tt-final-preview,
.main-preview {
  padding: 2.6rem 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.tt-final-preview .library-cta {
  text-align: center;
  padding-top: 1.3rem;
}

.tt-final-preview-img,
.main-preview-img {
  width: 100%;
  display: block;
}

.tt-products {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.qc-gallery {
  overflow: scroll;
}

.qc-gallery .grid {
  width: 350vw;
}

.case-study-preview li {
  position: relative;
}

.case-study-preview li::after {
  content: '|';
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
}

.case-study-preview li:last-child::after {
  display: none;
}

@media only screen and (min-width: 38em) {

  .case-study h1 {
    padding-top: 4.2rem;
  }

  .tt-final-preview,
  .main-preview {
    min-height: 95vh;
    max-height: 1000px;
    padding: 0;
  }

  .tt-final-preview {
    min-height: 50vh;
    margin-bottom: 0;
  }

  .tt-final-preview-img,
  .main-preview-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80vh;
    max-height: 900px;
    width: auto;
    opacity: 0;
    transition:
      left 1s cubic-bezier(.5, 0, .5, 1),
      right 1s cubic-bezier(.5, 0, .5, 1),
      opacity 1.5s linear;
  }

  .tt-final-preview-img {
    height: 35vh;
  }

  .tt-final-preview-img-left,
  .main-preview-img-left {
    right: 100%;
  }

  .case-study-preview-img-in.tt-final-preview-img,
  .case-study-preview-img-in.main-preview-img-left {
    right: 52%;
    opacity: 1;
  }

  .claire-preview,
  .bourassa-preview {
    height: 70vh;
  }

  .amces-sketch {
    height: 25vh;
  }

  .am-new-logo {
    height: 12vh;
  }

  .tt-products {
    height: 60vh;
  }

  .tt-visuals {
    height: 40vh;
    max-height: 350px;
  }

  .case-study-preview-img-in.main-preview-img-left.tt-products {
    right: 55%;
  }

  .case-study-preview-img-in.main-preview-img-left.claire-preview {
    right: 60%;
  }

  .case-study-preview-img-in.main-preview-img-left.bourassa-preview {
    right: 49%;
  }

  .qc-gallery {
    overflow: auto;
  }

  .qc-gallery .grid {
    width: 100%;
  }

  .light-preview {
    display: none;
  }

  .push-0 {
    margin-bottom: 0;
  }

  /* ---------- Updated Image Sizing & Spacing ---------- */

  .ui-mockup {
    max-height: 600px;
  }

  .dark-preview,
  .light-preview {
    max-height: 550px
  }

  .main-preview-img-left.stand-banner {
    max-height: 600px;
  }

  .main-preview-img-left.case-study-preview-img-in.stand-banner {
    right: 46%;
  }

  .main-preview-img-left.amces-sketch {
    max-height: 115px;
  }

  .main-preview-img-left.case-study-preview-img-in.amces-sketch {
    right: 50%;
  }

  .main-preview-img-left.qn-logo {
    height: 24vh;
  }

  .main-preview-img-left.hub-logos {
    max-height: 145px;
  }

  .cms-text {
    width: 60%;
  }

}

@media only screen and (min-width: 45em) {

  .main-preview-img-left.qn-logo {
    height: 30vh;
  }

  .main-preview-img-left.hub-logos {
    max-height: 185px;
  }

}

@media only screen and (min-width: 60em) {

  .case-study h1 {
    padding-top: 4.5rem;
  }

  .case-study-preview-img-in.main-preview-img-left.dark-preview {
    right: 70%;
  }

  .light-preview {
    display: block;
  }

  .main-preview {
    margin-bottom: 3rem;
  }

  .amces-prev {
    height: 66vh;
  }

  .case-study-preview-img-in.main-preview-img-left .amces-prev {
    right: 53%;
  }

  .amces-sketch {
    height: 25vh;
  }

  .am-new-logo {
    height: 25vh;
  }

  .case-study-preview-img-in.main-preview-img-left.am-new-logo {
    right: 55%;
  }

  .tt-products {
    height: 90vh;
  }

  .case-study-preview-img-in.main-preview-img-left.tt-products {
    right: 60%;
  }

  .claire-preview,
  .bourassa-preview {
    height: 90vh;
  }

  .case-study-preview-img-in.main-preview-img-left.stand-banner,
  .case-study-preview-img-in.main-preview-img-left.bourassa-preview {
    right: 57%;
  }

  .case-study-preview-img-in.main-preview-img-left.amces-sketch {
    right: 50%;
  }

  .push-0 {
    margin-bottom: 0;
  }

  /* ---------- Updated Image Sizing & Spacing ---------- */

  .main-preview-img-left.stand-banner {
    max-height: 700px;
  }

  .ui-mockup {
    max-height: 700px;
  }

  .dark-preview,
  .light-preview {
    max-height: none;
  }


  .main-preview-img-left.amces-sketch {
    max-height: 200px;
  }

  .main-preview-img-left.qn-logo {
    height: 40vh;
  }

  .main-preview-img-left.hub-visuals {
    max-height: 350px;
  }


  .main-preview-img-left.hub-logos {
    max-height: 230px;
  }

}

@media only screen and (min-width: 90em) {

  .case-study-preview-img-in.main-preview-img-left.qn-logo {
    right: 55%;
  }


  .main-preview-img-left.hub-logos {
    max-height: 300px;
  }

  .main-preview-img-left.case-study-preview-img-in.hub-logos {
    right: 55%;
  }

}
