.case-study-preview,
.me {
  min-height: 95vh;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.case-study-preview-img,
.me-img {
  width: 100%;
  display: block;
}

.me-img {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 38em) {

    .case-study-preview,
    .me {
      min-height: auto;
      height: 95vh;
      max-height: 1000px;
    }

  .case-study-preview-img {
    position: absolute;
    left: 52%;
    top: 50%;
    transform: translateY(-50%);
    height: 80vh;
    max-height: 900px;
    width: auto;
  }

  .case-study-preview-img-alt {
    left: auto;
    right: 52%;
  }

  .me-img {
    position: absolute;
    right: 58%;
    bottom: -.25rem;
    height: 100vh;
    max-height: 1000px;
    width: auto;
  }

}
