.case-study-preview,
.me {
  padding: 2.6rem 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.me {
  padding: 0;
}

.case-study-preview-img,
.me-img {
  width: 100%;
  display: block;
}

.me-img {
  transform: rotateY(180deg);
}

@media only screen and (min-width: 38em) {

    .case-study-preview,
    .me {
      /* min-height: auto; */
      min-height: 95vh;
      max-height: 1000px;
      padding: 0;
    }

  .case-study-preview-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80vh;
    max-height: 900px;
    width: auto;
    opacity: 0;
    transition:
      left 1s cubic-bezier(.5, 0, .5, 1),
      right 1s cubic-bezier(.5, 0, .5, 1),
      opacity 1.5s linear,
      max-height .5s cubic-bezier(.5, 0, .5, 1);
  }

  .case-study-preview-img.qc-prev {
    height: 75vh;
  }

  .csp-quidcan {
    transform: none;
    top: 5%;
    height: 172%;
    max-height: none;
  }

  .case-study-preview-img-right {
    left: 100%;
  }

  .case-study-preview-img-in.case-study-preview-img-right {
    opacity: 1;
    left: 52%;
  }

  .case-study-preview-img-left {
    right: 100%;
  }

  .case-study-preview-img-in.case-study-preview-img-left {
    right: 52%;
    opacity: 1;
  }

  .case-study-preview-img-in.case-study-preview-img-left.amces {
    right: 55%;
  }

  .case-study-preview-img-in.case-study-preview-img-left.qc-prev {
    right: 54%;
  }

  .me-img {
    position: absolute;
    right: 100%;
    bottom: -.25rem;
    height: 100vh;
    max-height: 1000px;
    width: auto;
    opacity: 0;
    transition:
      right 1s cubic-bezier(.5, 0, .5, 1),
      opacity 1.5s linear,
      max-height .5s cubic-bezier(.5, 0, .5, 1);
  }

  .me-img.case-study-preview-img-in {
    right: 58%;
    opacity: 1;
  }

  /* ---------- Updated Image Sizing & Spacing ---------- */

  /* .case-study-preview-img.case-study-preview-img-right.case-study-preview-img-in.polished, */
  .case-study-preview-img {
    max-height: 400px;
  }

}

@media only screen and (min-width: 60em) {

  /* ---------- Updated Image Sizing & Spacing ---------- */

  /* .case-study-preview-img.case-study-preview-img-right.case-study-preview-img-in.polished, */
  .case-study-preview-img {
    max-height: 600px;
  }

}


@media only screen and (min-width: 90em) {

  /* ---------- Updated Image Sizing & Spacing ---------- */

  /* .case-study-preview-img.case-study-preview-img-right.case-study-preview-img-in.polished, */
  .case-study-preview-img {
    max-height: 900px;
  }

}
