:root {
  --color-dark-grey: #333;
  --color-highlight: #2c8Bd9;
  --color-highlight-dark: #1a5c93;
  --color-light-grey: #f2f2f2;
  --shadow-primary: 0 3px 6px rgba(0, 0, 0, .15);
  --radial-primary: radial-gradient(var(--color-highlight), #216ead);
}

html {
  font-family: Montserrat, sans-serif;
}

body {
  overflow: hidden scroll;
}

h1, h2, h3, .font-alt {
  font-family: "Montserrat Alternates", sans-serif;
}

h1, h2, h3 {
  text-shadow: var(--shadow-primary);
}

h1, h2, h3, h4 {
  color: var(--color-dark-grey);
}

a {
  color: #000;
  text-decoration: none;
  transition: color .25s;
}

a:hover,
a:focus {
  color: var(--color-highlight);
}

p > a {
  color: var(--color-highlight);
  text-decoration: underline;
  transition: color .25s;
}

p > a:hover,
p > a:focus {
  color: var(--color-highlight-dark);
}

.footer a {
  color: #ccc;
}

.footer a:hover,
.footer a:focus {
  color: var(--color-highlight);
}

.flex-v-middle {
  display: flex;
  align-items: center;
}

.text-shadow {
  text-shadow: var(--shadow-primary);
}

.box-shadow {
  box-shadow: var(--shadow-primary);
}

.no-shadow {
  box-shadow: none;
  text-shadow: none;
}

.outlined {
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* ---------- Colors ---------- */

.text-ccc {
  color: #ccc;
}

.section-colors section:nth-child(even),
.bg-lg {
  background-color: var(--color-light-grey);
}

.bg-dg {
  background-color: var(--color-dark-grey);
}

/* ---------- Spacing ---------- */

.up-1-2 {
  margin-top: -.65rem;
}

.push-s {
  margin-bottom: 1.3rem;
}

.push-2-s {
  margin-bottom: 2.6rem;
}

/* ---------- Intro ---------- */

.intro-home {
  width: 100vw;
  height: 95vh;
  background-image: var(--radial-primary);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: var(--shadow-primary);
  position: relative;
}

.intro-home h1 {
  line-height: 1;
  color: #fff;
}

.intro-home h1 span:first-child {
  font-weight: 300;
}

.title-width {
  margin-left: auto;
  margin-right: auto;
  max-width: 15em;
}

.icon-list a {
  text-shadow: var(--shadow-primary);
}

@media only screen and (min-width: 25em) {

  .intro-home h1 {
    line-height: 1;
  }

}

@media only screen and (min-width: 38em) {

  .push-s,
  .push-2-s {
    margin-bottom: 0;
  }

  .intro-home h1 {
    line-height: 1;
  }

  .title-width {
    max-width: 18em;
  }

  .subtitle {
    text-align: right;
  }

  .footer .nav-foot,
  .footer .unit:last-child {
    text-align: left;
  }

  .footer ul {
    margin: 0;
  }

  .footer .nav-foot li {
    display: inline-block;
    margin-right: .7rem
  }

  .footer .icon-list {
    text-align: right;
  }

}

@media only screen and (min-width: 60em) {

  .intro-home h1 {
    line-height: 1;
  }


  .title-width {
    max-width: 23em;
  }

  .footer .nav-foot li {
    margin-right: .75rem
  }

}
