.slide-nav {
  width: 100vw;
  height: 100vh;
  background-color: var(--color-dark-grey);
  transition: left .75s cubic-bezier(1, 0, 0, 1);
  position: fixed;
  left: -100vw;
  text-align: center;
  overflow: hidden;
  z-index: 1000;
}

.nav-open .slide-nav {
  left: 0;
}

.slide-nav a {
  position: relative;
}

.slide-nav a:hover,
.slide-nav a:focus,
.slide-nav a:active {
  color: #ccc;
}

.slide-nav a::after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 100%;
  left: -.5rem;
  top: 50%;
  transform: translateY(-50%);
  transition: width .5s cubic-bezier(1, 0, 0, 1);
  background-color: var(--color-highlight);
  z-index: -1;
}

.slide-nav a:hover::after,
.slide-nav a:focus::after,
.slide-nav a:active::after,
.slide-nav a.current::after {
  width: calc(100% + 1rem);
}

/* ---------- Nav Tog ---------- */

.tog-nav-holder {
  position: fixed;
  width: 4rem;
  height: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1.3rem;
  left: 1.3rem;
  background-color: var(--color-dark-grey);
  z-index: 10000000;
  box-shadow: var(--shadow-primary);
  transition:
    box-shadow .75s cubic-bezier(1, 0, 0, 1),
    background-color .75s cubic-bezier(1, 0, 0, 1),
    border-color .75s cubic-bezier(1, 0, 0, 1),
    transform .25s ease-in-out,
    left .75s cubic-bezier(1, 0, 0, 1);
}

.home .nav-at-top {
  background-color: rgba(51, 51, 51, 0);
  box-shadow: none;
}

.tog-nav-holder::after {
  content: ' ';
  width: 0;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: width .5s cubic-bezier(1, 0, 0, 1);
  background-color: var(--color-highlight);
  z-index: -1;
}

.home .nav-at-top::after {
  background-color: var(--color-dark-grey);
}

.home .nav-at-top.tog-nav-open::after {
  background-color: var(--color-highlight);
}

.tog-nav-holder:hover::after,
.tog-nav-holder:focus::after,
.tog-nav-holder:active::after {
  width: 100%;
}

.tog-nav-holder.tog-nav-open {
  left: calc(100vw - 5rem);
  border-color: #ccc;
  background-color: var(--color-dark-grey);
  box-shadow: none;
}

.tog-nav {
  display: block;
  position: relative;
  width: 1.875rem;
  height: 1.5rem;
}

.tog-nav .tog {
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  background-color: #fff;
  transition: all .75s cubic-bezier(1, 0, 0, 1);
  box-shadow: var(--shadow-primary);
  border-radius: 5px;
}

.tog-nav-open .tog-nav .tog {
  background-color: #fff;
}

.tog-top {
  top: 0;
}

.tog-middle {
  top: 50%;
  transform: translateY(-50%);
}

.tog-bottom {
  bottom: 0;
}

.tog-nav-open .tog-top {
  transform: translate(-50%, -50%) rotate(45deg);
  top: 50%;
  left: 50%;
}

.tog-nav-open .tog-middle {
  transform: translate(-50%, -50%) rotate(-45deg);
  left: 50%;
  opacity: 0;
}

.tog-nav-open .tog-bottom {
  transform: translate(-50%, 50%) rotate(-45deg);
  left: 50%;
  bottom: 50%;
}

.nav-bg-photos img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 95%;
  z-index: -3;
  opacity: 0;
  transition:
    left .5s cubic-bezier(1, 0, 0, 1),
    opacity .5s linear;
}

.nav-bg-photos img#me-link-img {
  bottom: 0;
  top: auto;
  transform: translate(-50%, 0);
  height: 80vh;
  width: auto;
}

.nav-bg-photos img.link-hovered {
  opacity: .25;
}

.nav-bg-photos img.link-no-hover {
  display: none;
}

@media only screen and (min-width: 38em) {

  .nav-shifter {
    position: absolute;
    transition: left .75s cubic-bezier(1,0,0,1);
    width: 100vw;
    left: 0;
  }

  .nav-open .nav-shifter {
    left: 100vw;
  }

  .slide-nav {
    text-align: left;
  }

  .nav-bg-photos img {
    position: absolute;
    left: 100%;
    transform: translate(0, -50%);
    height: 80vh;
    width: auto;
  }

  .nav-bg-photos img#me-link-img {
    bottom: 0;
    top: auto;
    transform: translate(0);
    height: 100vh
  }

  .nav-bg-photos img#home-link-img {
    height: 70vh;
  }

  .nav-bg-photos img.link-hovered {
    left: 52%;
  }

  .tog-nav-holder {
    left: 1.4rem;
    top: 1.4rem;
  }

  .tog-nav-holder.tog-nav-open {
    left: calc(100vw - 5.5rem);
  }

  .nav-footer {
    text-align: left;
  }

  .nav-footer .list-group li {
    display: inline-block;
    margin-right: .75rem;
  }

}

@media only screen and (min-width: 60em) {

  .tog-nav-holder {
    top: 1.5rem;
    left: 1.5rem;
  }

}
