.main-preview {
  padding: 2.6rem 0;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.qc-gallery {
  overflow: scroll;
}

.qc-gallery .grid {
  width: 350vw;
}

@media only screen and (min-width: 38em) {

  .main-preview {
    min-height: auto;
    height: 95vh;
    max-height: 1000px;
    padding: 0;
    margin-bottom: 2.8rem;
  }

  .main-preview-img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 80vh;
    max-height: 900px;
    width: auto;
    opacity: 0;
    transition:
      left 1s cubic-bezier(.5, 0, .5, 1),
      right 1s cubic-bezier(.5, 0, .5, 1),
      opacity 1.5s linear;
  }

  .main-preview-img-left {
    right: 100%;
  }

  .case-study-preview-img-in.main-preview-img-left {
    right: 52%;
    opacity: 1;
  }

  .claire-preview,
  .bourassa-preview {
    height: 70vh;
  }

  .case-study-preview-img-in.main-preview-img-left.claire-preview {
    right: 60%;
  }

  .case-study-preview-img-in.main-preview-img-left.bourassa-preview {
    right: 49%;
  }

  .qc-gallery {
    overflow: auto;
  }

  .qc-gallery .grid {
    width: 100%;
  }

  .light-preview {
    display: none;
  }

}

@media only screen and (min-width: 60em) {

  .case-study-preview-img-in.main-preview-img-left.dark-preview {
    right: 70%;
  }

  .light-preview:hover + .case-study-preview-img-in.main-preview-img-left.dark-preview,
  .case-study-preview-img-in.main-preview-img-left.dark-preview:hover {
    right: 75%;
  }

  .light-preview {
    display: block;
  }

  .main-preview {
    margin-bottom: 3rem;
  }

  .claire-preview,
  .bourassa-preview {
    height: 90vh;
  }

  .case-study-preview-img-in.main-preview-img-left.bourassa-preview {
    right: 57%;
  }

}
