---
layout: default
---
{% assign csHeader=site.data.case-studies[page.csNumber] %}
  <header class="cs-header pad-t-2 pad-b-2">
    <div class="wrapper pad-t-2 pad-b-2">
      <h1 class="text-center gutter push-2">{{csHeader.title}}</h1>
      <p class="max-length text-center-m gutter push-2">{{csHeader.longDesc}}</p>
      {% if csHeader.projectLink %}
      <div class="font-alt bold mega text-center pad-t pad-b">
        <a href="{{csHeader.projectLink}}" target="_blank">
          <span class="valign-middle inline-block">{{csHeader.projectLinkText}}</span>
          <i class="icon i-1 ">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
          </i>
        </a>
      </div>
      {% endif %}
      {% if csHeader.projectLink %}
        <a class="block" href="{{csHeader.projectLink}}" target="_blank">
      {% endif %}
        <div class="island">
          <div class="embed embed-16by9">
            <img class="embed-item" src="{{site.baseurl}}/images/{{csHeader.headerImg}}" alt="{{csHeader.headerImgAlt}}">
          </div>
        </div>
      {% if csHeader.projectLink %}
        </a>
      {% endif %}
      <div class="grid island-1-2">
        <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
          <p class="font-alt bold push-1-2">Categories</p>
          <ol class="list-group-inline milli push-0">
            {% for cat in csHeader.category %}
              <li class="push-r-1-2">{{cat}}</li>
            {% endfor %}
          </ol>
        </div>
        <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
          <p class="font-alt bold push-1-2">Client</p>
          <ol class="list-group-inline milli push-0">
            <li class="push-r-1-2">
              {% if csHeader.clientLink %}
                <a class="" href="{{csHeader.clientLink}}" target="_blank">
              {% endif %}
              {{csHeader.client}}
              {% if csHeader.clientLink %}
                </a>
              {% endif %}
            </li>
          </ol>
        </div>
        <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
          <p class="font-alt bold push-1-2">Role</p>
          <ol class="list-group milli push-0">
            {% for role in csHeader.role %}
              <li class="push-r-1-2">{{role}}</li>
            {% endfor %}
          </ol>
        </div>
        <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
          <p class="font-alt bold push-1-2">Year</p>
          <ol class="list-group-inline milli push-0">
            <li class="push-r-1-2">{{csHeader.year}}</li>
          </ol>
        </div>
      </div>
    </div>
  </header>

{{content}}

<footer class="pad-t-2 pad-b-2 {{csHeader.nextPrevBG}}">
  <ul class="grid wrapper gutter list-group prev-next-indicator push-0">
    <li class="unit [ xs-1-2 ]">
      <a href="{{site.baseurl}}/{{csHeader.prevLinkCS}}">
        <i class="icon i-3-4 valign-top">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
        </i>
        <div class="inline-block valign-top">
          <span class="inline-block bold">Previous</span>
          <p class="milli push-0 xs-hidden">{{csHeader.prevTitleCS}}</p>
        </div>
      </a>
    </li>
    <li class="unit [ xs-1-2 ] text-right">
      <a href="{{site.baseurl}}/{{csHeader.nextLinkCS}}">
        <div class="inline-block valign-top">
          <span class="valign-middle inline-block bold">Next</span>
          <p class="milli push-0 xs-hidden">{{csHeader.nextTitleCS}}</p>
        </div>
        <i class="icon i-3-4 valign-top">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
        </i>
      </a>
    </li>
  </ul>
</footer>
