<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>{{page.title}} | Adam Robillard</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,400i,700,700i|Montserrat:400,400i,700,700i" rel="stylesheet">
  <link rel="shortcut icon" href="favicon.ico"/>
</head>
<body class="case-study">
  <ul class="skip-links">
    <li><a href="#main">Jump to main content</a></li>
    <li><a class="skip-to-nav" href="#nav">Jump to navigation</a></li>
  </ul>
  {% include nav-slider.html %}
  <div class="nav-shifter">
    <main id="main">
      <div class="wordmark island text-right">
        <a class="inline-block m-hidden exa font-alt text-shadow push-0 pad-t-1-4" href="{{site.baseurl}}/">A<span class="bold">R</span></a>
        <a class="inline-block xs-s-hidden tera font-alt text-shadow push-0 pad-t-1-4" href="{{site.baseurl}}/">Adam <span class="bold">Robillard</span></a>
      </div>
      {{content}}
    </main>
    <footer class="footer pad-t-2 pad-b-2 bg-dg text-center">
      <div class="wrapper gutter grid">
        <!-- <div class="unit [ xs-1 m-1-2 ]">
        {% include nav.html navid="footer-nav" navclass="nav-foot milli" ulclass="list-group"%}
      </div> -->
      <div class="unit [ xs-1 m-1-2 ] unit-push-m-1-2">
        <ul class="icon-list list-group-inline">
          <li class="push-r">
            <a class="inline-block" href="mailto:robi0653@algonquinlive.com">
              <i class="icon i-3-4">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#email" /></svg>
              </i>
              <span class="icon-label hidden">Email</span>
            </a>
          </li>
          <li class="push-r">
            <a class="inline-block" href="https://github.com/arobillard" target="_blank">
              <i class="icon i-3-4">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#github" /></svg>
              </i>
              <span class="icon-label hidden bold">arobillard</span>
            </a>
          </li>
          <li class="push-r">
            <a class="inline-block" href="https://www.instagram.com/awillrobillard/">
              <i class="icon i-3-4">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#instagram" /></svg>
              </i>
              <span class="icon-label hidden bold">@awillrobillard</span>
            </a>
          </li>
          <li class="push-r">
            <a class="inline-block" href="https://www.linkedin.com/in/adam-robillard/">
              <i class="icon i-3-4">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#linkedin" /></svg>
              </i>
              <span class="icon-label hidden bold">/adam-robillard</span>
            </a>
          </li>
          <li class="push-r">
            <a class="inline-block" href="https://vimeo.com/user71391239">
              <i class="icon i-3-4">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#vimeo" /></svg>
              </i>
              <span class="icon-label hidden bold">Vimeo</span>
            </a>
          </li>
          <li>
            <a class="inline-block" href="https://adamrobillard.ca/images/robillard-adam-resume.pdf">
              <i class="icon i-3-4">
                <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#cv" /></svg>
              </i>
              <span class="icon-label hidden bold">Resume</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="unit [ xs-1 m-1-2 ] unit-pull-m-1-2">
        <small class="text-ccc font-alt">© Adam Robillard 2018</small>
      </div>
    </div>
  </footer>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/main.js"></script>
</body>
</html>
