---
layout: default
---
{% assign csHeader=site.data.case-studies[page.csNumber] %}
  <header class="cs-header pad-t-2 pad-b-2">
    <div class="wrapper pad-t-2 pad-b-2">
      <h1 class="text-center gutter push-2">{{csHeader.title}}</h1>
      <p class="max-length text-center-m gutter push-2">{{csHeader.longDesc}}</p>
      {% if csHeader.projectLink %}
      <div class="font-alt bold mega text-center pad-t pad-b">
        <a class="inline-block" href="{{csHeader.projectLink}}" target="_blank" aria-label="Visit full {{csHeader.title}} website.">
          <span class="valign-middle inline-block">{{csHeader.projectLinkText}}</span>
          <i class="icon i-1 ">
            <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
          </i>
        </a>
      </div>
      {% endif %}
      {% if csHeader.title == "More Fun" %}
        <p class="text-center bold giga font-alt">Browse by category:</p>
        <ol class="list-group-inline text-center mf-category-list gutter">
          <li class="push-r">
            <a class="smooth-scroll" href="#jerseys">Jerseys</a>
          </li>
          <li class="push-r">
            <a class="smooth-scroll" href="#motion">Motion Graphics</a>
          </li>
          <li>
            <a class="smooth-scroll" href="#web">Web Design</a>
          </li>
        </ol>
      {% endif %}
      {% if csHeader.headerVideoSwitch == true %}
      <div class="island">
        <div class="embed embed-16by9">
          {{csHeader.headerVideo}}
        </div>
      </div>
      {% else %}
        {% if csHeader.projectLink %}
          <a class="block" href="{{csHeader.projectLink}}" target="_blank" aria-label="Visit full {{csHeader.title}} website.">
        {% endif %}
          <div class="island">
            <div class="embed embed-16by9">
              <img class="embed-item" src="{{site.baseurl}}/images/{{csHeader.headerImg}}" alt="{{csHeader.headerImgAlt}}">
            </div>
          </div>
        {% if csHeader.projectLink %}
          </a>
        {% endif %}
      {% endif %}
      {% unless csHeader.removeInfo == true %}
        <div class="grid island-1-2">
          <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
            <p class="font-alt bold push-1-2">Categories</p>
            <ol class="list-group milli push-0">
              {% for cat in csHeader.category %}
                <li class="push-r-1-2">{{cat}}</li>
              {% endfor %}
            </ol>
          </div>
          <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
            <p class="font-alt bold push-1-2">Client</p>
            <ol class="list-group milli push-0">
              <li class="push-r-1-2">
                {% if csHeader.clientLink %}
                  <a class="" href="{{csHeader.clientLink}}" target="_blank" aria-label="Visit the {{csHeader.client}} website.">
                {% endif %}
                {{csHeader.client}}
                {% if csHeader.clientLink %}
                  </a>
                {% endif %}
              </li>
            </ol>
          </div>
          <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
            <p class="font-alt bold push-1-2">Role</p>
            <ol class="list-group milli push-0">
              {% for role in csHeader.role %}
                <li class="push-r-1-2">{{role}}</li>
              {% endfor %}
            </ol>
          </div>
          <div class="unit [ xs-1-2 m-1-4 ] island-1-2">
            <p class="font-alt bold push-1-2">Year</p>
            <ol class="list-group milli push-0">
              <li class="push-r-1-2">{{csHeader.year}}</li>
            </ol>
          </div>
        </div>
      {% endunless %}
    </div>
  </header>

{{content}}

<footer class="pad-t-2 pad-b-2 {{csHeader.nextPrevBG}}">
  <ul class="grid wrapper gutter list-group prev-next-indicator push-0">
    <li class="unit [ xs-1-2 ]">
      <a class="inline-block" href="{{site.baseurl}}/{{csHeader.prevLinkCS}}" aria-label="View {{csHeader.prevTitleCS}} case study.">
        <i class="icon i-3-4 valign-top">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#left-indicator" /></svg>
        </i>
        <div class="inline-block valign-top">
          <span class="inline-block bold">Previous</span>
          <p class="milli push-0 xs-hidden">{{csHeader.prevTitleCS}}</p>
        </div>
      </a>
    </li>
    <li class="unit [ xs-1-2 ] text-right">
      <a class="inline-block" href="{{site.baseurl}}/{{csHeader.nextLinkCS}}" aria-label="View {{csHeader.nextTitleCS}} case study.">
        <div class="inline-block valign-top">
          <span class="valign-middle inline-block bold">Next</span>
          <p class="milli push-0 xs-hidden">{{csHeader.nextTitleCS}}</p>
        </div>
        <i class="icon i-3-4 valign-top">
          <svg><use xlink:href="{{site.baseurl}}/images/icons.svg#right-indicator" /></svg>
        </i>
      </a>
    </li>
  </ul>
</footer>
