<!DOCTYPE html>
<html lang="en-ca">
<head>
  <meta charset="utf-8">
  <title>Adam Robillard</title>
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="240">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link href="{{site.baseurl}}/css/main.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:300,400,400i,700,700i|Montserrat:400,400i,700,700i" rel="stylesheet">
</head>
<body>
  <header>
    <!-- {% include nav.html navclass='nav-main' listgrouptype='list-group' spacing='push-0' fontsize=''%} -->
  </header>
  <main id="main">
    {{content}}
  </main>
  <footer>
    <!-- {% include nav.html navclass="nav-foot" %} -->
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="js/main.js"></script>
</body>
</html>
